section {
    display: flex;
}

.section-card {
    margin: auto;
    height: 400px;
    width: 60vh;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
}

.section-card-image {
    height: 30vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-card-content {
    flex: 1;
}

.section-card-content-title {
    text-align: center;
    padding: 10px 0px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Lucida Sans',sans-serif;
}

.section-card-content-description {
    padding: 10px;
    text-align:justify;
    flex: 2;
}

#mainbg{
  background-image:url(../img/AboutUs.png);
  background-size:auto;
}
