section {
    display: flex;
}

.section-team {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.section-team-title {
    width: 100%;
    display: flex;
}

.section-team-title > div {
    margin: auto;
    font-size: 45px;
    font-weight: bold;
    font-family: 'Lucida Sans',sans-serif;
    margin-bottom: 30px;
}

.section-team-member {
    padding: 10px;
}

.section-team-member-image {
    height: 30vh;
    width: 30vh;
    border-radius: 50%;
    border: 3px solid #f5dc74;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-team-member-content {
    margin-top: 10px;
    padding: 5px;
    text-align: center;
}

.section-team-member-content-title {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
}

.section-team-member-content-details {
    display: flex;
    justify-content: center;
}

.section-team-member-content-details > a {
    margin: 5px;
    padding: 10px;
    height: 19px;
    width: 19px;
    border: 2px solid #f5dc74;
    border-radius: 50%;
    display: flex;
    text-decoration: none;
    color: black;
}

.section-team-member-content-details > a > i {
    margin: auto;
}

.fb,.tw,.in,.mail{
  transition:.7s;
}

.fb:hover{
  color:royalblue;
}

.tw:hover{
  color:cyan;
}

.in:hover{
  color:lightgreen;
}

.mail:hover{
  color:lightsalmon;
}

#vincent{
  background-image:url(../img/vincent.png);
}
#lele{
  background-image:url(../img/lele.jpg);
}
#alex{
  background-image:url(../img/alex.jpg);
}
