section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* max-width: 1000px; */
    margin: auto;
}

.section-card {
    margin: 10px;
    height: 400px;
    width: 40vh;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
}

.section-card-image {
    height: 30vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-card-content {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.section-card-content-title {
    flex: 1;
    text-align: center;
    font-weight: bold;
}

.section-card-content-row {
    display: flex;
}

.section-card-content-row > div {
    flex: 1;
}

.section-card-content-row > div:nth-child(1) {
    font-weight: bold;
 }

.section-card-content-row > div:nth-child(2) {
   text-align: right;
}

.section-card-content-description {
    padding-top: 10px;
    flex: 2;
}

#buddhaGarden{
  background-image:url(../img/buddhaGarden.jpg);
}
#seaMeditation{
  background-image:url(../img/seaMeditation.jpg);
}
#temple{
  background-image:url(../img/temple.jpg);
}
#mountainMeditation{
  background-image:url(../img/mountainMeditation.jpg);
}
