section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
}

.section-card {
    margin: 10px;
    height: 400px;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    overflow: hidden;
}

.section-card-image {
    height: 220px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-card-content {
    padding: 10px;
    background-color: white;
    transition: 0.3s;
    height: 300px;
}

.section-card:hover .section-card-content {
    transform: translateY(-130px);
}

.section-card-content-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.section-card-content-row {
    display: flex;
}

.section-card-content-row > div {
    flex: 1;
}

.section-card-content-row > div:nth-child(1) {
    font-weight: bold;
 }

.section-card-content-row > div:nth-child(2) {
    text-align: right;
}

.section-card-content-description {
    padding-top: 10px;
}