.section-events {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
}

.section-card {
    margin: 10px;
    height: 400px;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    overflow: hidden;
    text-decoration: none;
    color: black;
}

.section-card-image {
    height: 220px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-card-content {
    padding: 10px;
    background-color: white;
    transition: 0.3s;
    height: 300px;
}

.section-card:hover .section-card-content {
    transform: translateY(-130px);
}

.section-card-content-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.section-card-content-row {
    display: flex;
}

.section-card-content-row > div {
    flex: 1;
}

.section-card-content-row > div:nth-child(1) {
    font-weight: bold;
 }

.section-card-content-row > div:nth-child(2) {
    text-align: right;
}

.section-card-content-description {
    padding-top: 10px;
}

.section-search-input {
    width: 100%;
    display: flex;
    height: 100px;
}

.section-search-input > input {
    margin: auto;
    height: 20px;
    width: 350px;
    max-width: 90%;
    padding: 10px 0px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lucida Sans', sans-serif;
    text-align: center;
    border: 0px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    outline: none;

}

.section-search-input > input:focus,
.section-search-input > input:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}