header {
    display: flex;
    background-color: #F6DB6F;
    position: fixed;
    width: 100%;
    /* height: 50px; */
    opacity: 0.95;
}

main {
    margin-top: 60px;
}

#header-link-logo {
    display: flex;
}

#header-link-logo img {
    height: 50px;
    padding: 0px 30px;
}

.header-content {
    flex: 1;
    display: flex;
}

.header-content > a {
    padding: 5px 30px;
    display: flex;
    color: #dd8c00;
    font-weight: bold;
    transition: 0.7s;
}

.header-content > a:hover {
    background-color: #f1c40f;
}

a.header-content-active {
    background-color: #f1c40f;
}


.header-content > a > div {
    margin: auto;
}

.header-content a {
    text-decoration: none;
}

@media (max-width: 700px) {
    header {
        flex-direction: column;
    }

    .header-content > a {
        flex: 1;
        height: 30px;
        padding: 5px 10px;
        display: flex;
    }

    #header-link-logo > img {
        margin: 5px auto;
    }

    main {
        margin-top: 110px;
    }
}